@charset "utf-8";

.title-area {
    display: none;
}
.tab-menu .inner {
    padding: 0;
}
.museum .inner > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column-reverse;
    margin-bottom: 170px;
}
.museum .inner > div .img-area {
    text-align: center;
}
.museum .inner > div .img-area img {
    width: 95%;
}
.museum .inner > div .text-area {
    max-width: 95%;
}
.museum .inner > div .btn-area a {
    padding: 30px 90px;
}
.museum .inner .img02 {
    flex-direction: column;
} 
.museum .inner .img02 .img-area {
    text-align: center;
    margin-right: 0px;
}