@charset "utf-8";

.tab-menu {
    margin-bottom: 70px;
}
.tab-menu ul li button {
    font-size: 80%;
    padding: 18px 0px;
}
.museum .inner > div {
    gap: 20px;
    margin-bottom: 70px;
}
.museum .inner > div {
    flex-direction: column-reverse;
    margin-bottom: 50px;
}
.museum .inner > div .img-area img {
    max-width: 95%;
}
.museum .inner > div .text-area {
    max-width: 95%;
}
.museum .inner > div:first-child .text-area {
    width: 89%;
}
.museum .inner > div h3 {
    font-size: 14px;
}
.museum .inner > div h1 {
    font-size: 30px;
}
.museum .inner > div span {
    font-size: 14px;
    margin-bottom: 30px;
}
.museum .inner .text-area img {
    width: 16px;
    vertical-align: -3px;
}
.museum .inner > div .btn-area {
    text-align: left;
}
.museum .inner > div .btn-area a {
    width: 140px;
    font-size: 16px;
    text-align: center;
    padding: 15px 20px;
}
.museum .inner > div .btn-area .btn-white {
    margin-right: 20px;
}
.museum .inner > div:last-child {
    margin-bottom: 100px;
}