@charset "utf-8";
h1 {
    font-size: 74px;
    font-weight: 400;
}
.visit {
    position: relative;
}
.visit::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #000;
    top: 45px; left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    height: 50px;
}
/* -----main---- */
main {
    margin-bottom: 150px;
}
main .inner {
    display: flex;
    justify-content: space-between;
    padding-block: 80px;
}
main .inner .title {
    position: relative;
}
main .inner h1::before {
    position: absolute;
    border-top: 1px solid #000;
    width: 300px; height: 50px;
    top: 50%; left: -100%;
    content: '';
}
main .inner ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
main .inner ul li span {
    border-left: 1px solid #999999;
    padding-left: 20px;
}
main .inner ul li:first-child span {
    border: none;
}
main .inner ul img {
    width: 18px;
    vertical-align: -2px;
}
main .main-img {
    width: 100%;
    overflow: hidden;
}
main .main-img video {
    width: 100%;
}

/* ---section--- */
section .inner .title-area {
    margin-bottom: 150px;
}
section .inner .title-area h1 {
    margin-bottom: 20px;
}
section .inner .title-area p {
    font-size: 20px;
    line-height: 1.5;
    color: #999999;
}
section .inner .title-area .str {
    font-weight: 800;
    color: #000000ce;
}
section .img01 {
    display: flex;
    gap: 100px;
    margin-bottom: 180px;
}
section .logo {
    width: 190px;
    height: auto;
    display: inline-block;
    margin-bottom: 30px;
}
section h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;
}
section h3 {
    font-size: 26px;
    color: #000000cc;
    margin-bottom: 30px;
}
section p {
    color: #535353;
    line-height: 1.5;
    margin-bottom: 50px;
}
.btn-area a {
    align-items: center;
    border: 1px solid #000;
    padding: 15px 40px;
}
.btn-area .btn-img {
    width: 22px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -3px;
}
.btn-area .btn {
    font-size: 22px;
}
section .img02 {
    display: flex;
    gap: 100px;
    margin-bottom: 150px;
}
section .img02 .logo {
    width: 280px;
}
section .img03 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 100px;
    margin-bottom: 130px;
}
section .img03 .logo {
    width: 150px;
    margin-bottom: 20px;
}