@charset "utf-8";

.inner {
    padding: 0 10px;
}
.top-menu {
    padding-top: 30px;
    padding-bottom: 20px;
}
.top-menu ul li {
    padding-block: 10px;
    font-size: 12px;
}
.tab-menu ul {
    gap: 0px;
}
.tab-menu button {
    font-size: 14px;
}
.sub-tab-menu {
    margin-bottom: -20px;
}
.sub-tab-menu ul {
    gap: 10px;
}
.sub-tab-menu ul li button {
    font-size: 14px;
}
.sub-title .sub-text {
    font-size: 14px;
}
#wrap .contents {
    margin-bottom: 50px;
}
.contents .no-ticket h2 {
    height: 150px;
    line-height: 300px;
    font-size: 10px;
}
.contents .inner > div {
    padding: 0px;
}
.contents .inner > div .img-area {
    width: 100%;
}
.contents .inner > div .text-area span {
    font-size: 14px;
}
.contents .inner > div .text-area h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.contents .inner > div .text-area p {
    font-size: 14px;
    margin-bottom: 10px;
}
.contents .inner > div .text-area .btn {
    font-size: 16px;
    padding: 15px 60px;
}
/* ---edu--- */
.contents .inner > .edu .text-area h2 {
    font-size: 24px;
    margin-bottom: 5px;
}
.contents .inner > .edu .text-area p {
    font-size: 14px;
}
.contents .inner > .edu .text-area dl {
    font-size: 14px;
}
/* more btn */
.more .inner button {
    font-size: 14px;
    padding: 10px 39px;
    margin-bottom: 90px;
}
.more .inner button i {
    font-size: 18px;
    vertical-align: 0px;
}