@charset "utf-8";
@import url(fonts.css);

html, body, head, h1, h2, h3, h4, h5, h6, div, p, ul, ol, li, dl, dt, dd, table, caption, thead, tr, td, tbody, tfoot, header, nav, section, article, figure, figcaption, footer, aside, form, legend, fieldset, address {margin: 0; padding: 0;}

li {list-style: none;}
a {text-decoration: none; color: inherit;}
em, address {font-style: normal;} /* 기울임체를 일반스타일로 변환 */
table {border-collapse: collapse;} /* 셀간의 간격을 없애는 속성 */
button {
    border: 0;
    background: none;
}
h1, h2, h3, h4, strong, b {
    font-weight: 500;
}
button, input, select, textarea {
    font: inherit;
}
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}
/* 폰트를 가려준 블라인드 텍스트 */
.blind {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 0;
    visibility: hidden;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}